#cart{
    font-size: 14px;
}
#cart div.steps{
    width: 1190px;
    height: 40px;
    line-height: 40px;
    margin: 50px auto 30px;
}
#cart div.steps li {
    position: relative;
    float: left;
    margin: 0 3px;
    width: 291px;
    background: #C6C6C6;
    color: #fff;
    text-align: center;
}
#cart div.steps li.active {
    width: 293px;
    background: #3A3A3A;
}
#cart div.steps li.active span{
    display: block;
}
#cart div.steps li span {
    display: none;
    position: absolute;
    bottom: -20px;
    left: 135px;
    border: 10px solid #3A3A3A;
    border-color: #3a3a3a transparent transparent;
}
#cart div.cart-box{
    width: 1180px;
    margin: 0 auto;
}
#cart div.tips{
    height: 30px;
    line-height: 30px;
    color: #4c4c4c;
}
#cart div.checkout_wrapper {
    background: #F9F9F9;
    border-top: 1px solid #7a7a7a;
}
#cart div.form-head{
    height: 40px;
    line-height: 40px;
    color: #4c4c4c;
    border-bottom: 1px solid #EAEAEA;
}
#cart li{
    float: left;
}
#cart li.checkbox{
    width:210px;
    padding-left: 15px;
    font-size: 12px;
}
#cart li.checkbox label {
    height: 30px;
    line-height: 30px;
    color: #7a7a7a;
}
#cart input.Cinput{
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    margin: 0 15px 0 0;
    border: 1px solid #d1d3d4;
    border-radius: 0;
    vertical-align: baseline;
}
li.product_name{width: 370px}
li.product_price{width: 150px;text-align: center}
li.product_num{width: 210px;text-align: center}
li.product_operate{width: 220px;text-align: center}
div.shopping-item{
    width: 1180px;
    height: 174px;
    border-bottom: 1px solid #d1d3d4
}
div.item-pic {
    position: relative;
    padding: 10px 0;
    height: 152px;
    line-height: 152px;
}
div.item-pic img{
    width: 150px;
    height: 150px;
    border: 1px solid #d4d4d4;
}
div.item-info{
    padding: 40px 0 0;
    font-size: 14px;
}
div.item-info h3{
    line-height: 30px;
    color: #808285;
    font-weight: 400;
}
div.item-info p{
    line-height: 30px;
    color: #808285;
    font-weight: 400;
}
div.item-info h3 a:hover{
    text-decoration: underline;
}
div.price {
    padding: 70px 0 0;
    line-height: 30px;
}
div.number{
    padding: 67px 0 0;
    line-height: 30px;
    position: relative;
    display: inline-block;
    top: 6px;
    width: 66px;
    margin: 0 0 0 15px;
    height: 22px;
    text-align: left;
}
input.product_val{
    width: 55px;
    padding: 0 5px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #4c4c4c;
    outline: 0;
    text-align: center;
    border: 1px solid #d1d3d4;
}
.minus,.plus{
    width: 24px;
    height: 24px;
    background: 0 0;
    color: #d1d3d4;
    font-size: 20px;
    text-indent: 0;
    position: absolute;
    display: inline-block;
    border: none;
    outline: 0;
    top:70px;
}
.plus{
    right: -25px;
}
.minus{
    right: 65px;
}
div.item-operate{
    padding-top: 73px;
    line-height: 30px;
}
div.item-operate a{
    color:#2075A8;
    font-size: 13px;
}
div.summary{
    float: right;
    color: #808285;
    text-align: right;
}
.summary .product_num{
    padding-right: 40px;
}
.summary dd {
    position: relative;
    color: #414042;
}
.summary dd {
    position: relative;
    color: #414042;
}
.summary dd, .summary dt {
    display: inline-block;
    line-height: 28px;
}
.summary dd.price {
    font-size: 20px;
    color: #a32b3f;
}
a.go_on,button.next_step{
    height: 37px;
    line-height: 37px;
    width: 130px;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    font-size: 14px;
}
a.go_on{
    background: #fff;
    border: 1px solid #645C52;
    border-bottom: 2px solid #929496;
    border-top: 1px solid #BBBDBE;
    color: #6D6E71;
}
a.go_on:hover {
     border: 1px solid #414042;
     border-bottom: 2px solid #414042;
     border-top: 1px solid #BBBDBE;
     color: #414042;
 }
button.next_step{
    height: 40px;
    background: #414042;
    border: none;
    border-bottom: 2px outset #231F20;
    border-top: 1px outset #BCBEC0;
    color: #e0d6c6;
    outline: none;
}
div.none{
    padding: 160px 0 200px;
    position: relative;
    width: 300px;
    margin: auto;
    font-size: 18px;
    color: #414042;
}
div.none p{
    padding: 5px 0;
    text-align: center;
    line-height: 25px;
}
a.buy{
    border: 1px solid #645C52;
    color: #e0d6c6;
    background: #414042;
    height: 37px;
    line-height: 37px;
    width: 130px;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    font-size: 14px;
}
